@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: fadein 1s 0.5s forwards;
  opacity: 0;

  h2 {
    font-family: "Quicksand";
  }

  nav {
    display: flex;
    margin-right: 15px;

    li {
      margin: 0 15px
    }
  }
}

@keyframes fadein {
  100% {
    opacity: 1
  }
}